.ct_content_box {
}
/*一级分类*/
.cate_left {
    width:90px;
    overflow:hidden;
    float:left;
    height:100%;
    position:relative;
}
.cate_left ul {
    width:100%;
    height:auto;
}
.cate_left ul li {
    height:50px;
    width:100%;
    line-height: 50px;
    text-align: center;
    background-color: #f3f4f5;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
}
.cate_left ul li.now {
    background-color: #fff;
    border-right:none;
}
.cate_left ul li a {
    display:block;
    color:#333;
    font-size:12px;
}
.cate_left ul li.now a {
    color:orange;
}
/*二级分类*/
.cate_right {
    overflow:hidden;
    padding:0 10px;
    height:100%;
    position:relative;
}
.cate_right ul {
    width:100%;
}
.cate_right ul li {
    width:33.3333%;
    float:left;
}
.cate_right ul li a {
    width:100%;
    display:block;
}
.cate_right ul li a img {
    width:50px;
    height:50px;
    margin:0 auto;
    display:block;
}
.cate_right ul li a p {
    text-align:center;
    color:#666;
}